<_within file="application.html">

  <div id="content">
    <div template="powergrid-game" field="data-game-id:game-id">

      <div id="power-plant-market" class="row">
        <h5>Power Plants</h5>
        <div class="current-market power-plant-market">
          <div template="power-plant" field="id:id,class:resource"
            class="power-plant">
            <span class="number" field="content:number">3</span>
            <span class="capacity" field="content:capacity">2</span>
            <span class="yield" field="content:yield">1</span>
          </div>
          <div class="power-plant coal">
            <span class="number" >4</span>
            <span class="capacity" >2</span>
            <span class="yield" >1</span>
          </div>
          <div class="power-plant coal-oil">
            <span class="number" >5</span>
            <span class="capacity" >2</span>
            <span class="yield" >1</span>
          </div>
          <div class="power-plant garbage">
            <span class="number" >6</span>
            <span class="capacity" >1</span>
            <span class="yield" >1</span>
          </div>
        </div>
        <div class="future-market power-plant-market">
          <div class="power-plant oil">
            <span class="number" >7</span>
            <span class="capacity" >3</span>
            <span class="yield" >2</span>
          </div>
          <div class="power-plant coal">
            <span class="number" >8</span>
            <span class="capacity" >3</span>
            <span class="yield" >2</span>
          </div>
          <div class="power-plant oil">
            <span class="number" >9</span>
            <span class="capacity" >1</span>
            <span class="yield" >1</span>
          </div>
          <div class="power-plant coal">
            <span class="number" >9</span>
            <span class="capacity" >2</span>
            <span class="yield" >2</span>
          </div>
        </div>
      </div>

    </div> <!-- /game -->
  </div>

</_within>
