<_within file="application.html">
  <div id="content">
    <div template="power-plant-market" class="row">
      <div template="power-plant" field="class:resource"
        class="power-plant">
        <span class="number" field="content:number">3</span>
        <span class="capacity" field="content:capacity">2</span>
        <span class="yield" field="content:yield">1</span>
      </div>
      <div class="power-plant coal">
        <span class="number" field="content:number">4</span>
        <span class="capacity" field="content:capacity">2</span>
        <span class="yield" field="content:yield">1</span>
      </div>
      <div class="power-plant coal-oil">
        <span class="number" field="content:number">5</span>
        <span class="capacity" field="content:capacity">2</span>
        <span class="yield" field="content:yield">1</span>
      </div>
      <div class="power-plant garbage">
        <span class="number" field="content:number">6</span>
        <span class="capacity" field="content:capacity">1</span>
        <span class="yield" field="content:yield">1</span>
      </div>
      <div class="power-plant oil">
        <span class="number" field="content:number">7</span>
        <span class="capacity" field="content:capacity">3</span>
        <span class="yield" field="content:yield">2</span>
      </div>
      <div class="power-plant coal">
        <span class="number" field="content:number">8</span>
        <span class="capacity" field="content:capacity">3</span>
        <span class="yield" field="content:yield">2</span>
      </div>
    </div>
  </div>
</_within>

