body {
  width: 900px;
  margin: 0 auto;
  background-color: #8eba8e;
}

div {
  background: green;
  margin: 1em;
  padding: 1em;
  background-color: #baf0ba;
}

.oil {
  background-color: #222;
}
.coal {
  background-color: #888;
}
.garbage {
  background-color: yellow;
}
.uranium {
  background-color: red;
}

.resource {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  border: 1px solid black;
  margin-right: -1px;
}

.resource.unavailable {
  background-color: transparent;
}

.player-icon {
  float: right;
  height: 10px;
  width: 10px;
  display: block;
}
.player-yellow .player-icon {
  background-color: yellow;
}
.player-purple .player-icon {
  background-color: purple;
}
.player-green .player-icon {
  background-color: green;
}
.player-black .player-icon {
  background-color: black;
}
.player-red .player-icon {
  background-color: red;
}
.player-blue .player-icon {
  background-color: blue;
}
.player.has-action {
  border: 1px solid red;
}
