body {
  margin: 0 auto;
}

div {
  padding: 1em;
}

.oil {
  background-color: #333;
  color: #ccc;
}
.coal {
  background-color: #987654;
}
.garbage {
  background-color: yellow;
}
.uranium {
  background-color: red;
}


.resource-block {
  float: left;
}
#resources + * {
  clear: both;
}

.resource {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  border: 1px solid black;
  margin-right: -1px;
}

.resource.unavailable {
  background-color: transparent;
}

#power-plants > ul > li {
  float:left;
}

.power-plant {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  position: relative
}

.power-plant .number {
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 5px;
}
.power-plant .capacity {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.power-plant .yield {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#power-plants .market, #power-plants .future {
  clear:both;
}

.player-icon {
  float: right;
  height: 10px;
  width: 10px;
  display: block;
}
.player-yellow .player-icon {
  background-color: yellow;
}
.player-purple .player-icon {
  background-color: purple;
}
.player-green .player-icon {
  background-color: green;
}
.player-black .player-icon {
  background-color: black;
}
.player-red .player-icon {
  background-color: red;
}
.player-blue .player-icon {
  background-color: blue;
}
.player.has-action {
  border: 1px solid red;
}
