body {
  width: 900px;
  margin: 0 auto;
  background-color: #8eba8e;
}

div {
  background: green;
  margin: 1em;
  padding: 1em;
  background-color: #baf0ba;
}

.oil {
  background-color: #222;
}
.coal {
  background-color: #888;
}
.garbage {
  background-color: yellow;
}
.uranium {
  background-color: red;
}

.resource {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  border: 1px solid black;
  margin-right: -1px;
}

.resource.unavailable {
  background-color: transparent;
}
